@model List<EventFinder.Models.Entity.Forum>

<div class="partial-profile">
    <h3>Беседы</h3>
    <section class="view-list">
        @if (Model.Count() != 0)
        {
            @foreach (var item in Model)
            {
                <div class="view-page">
                    <div class="view-body">
                        <p class="view-name">@item.Theme</p>
                        @if (item.EventId != null)
                        {
                            <p><span>Мероприятие:</span><a asp-controller="Event" asp-action="EventDetails" asp-route-id="@item.Event.Id"><span class="fas fa-search"></span></a></p>
                        }
                        <p><span>Категория: </span>@item.Category.Name</p>
                        <p><span>Автор: </span>@item.Owner.Login</p>
                    </div>
                    <a class="view-btn view-more" asp-controller="Forum" asp-action="ForumView" asp-route-id="@item.Id">
                        <span class="fas fa-search"></span>
                    </a>
                </div>
            }
        }
        else
        {
            <div class="no-exits-items"><p>Нет бесед</p></div>
        }
    </section>
</div>
