@using EventFinder.Models.Entity;
@model Tuple<Forum, List<ForumMessage>>;

@{
    ViewData["Title"] = @Model.Item1.Theme;
}

<script>
    function SendMessage(id, message) {
        location.href = `/forum/createmessage?id=${id}&message=${message}`
    }
</script>

<div class="wrapper forum-view">

    @if (Model != null)
    {
        <div class="wrap-dialog">
            <h3>@Model.Item1.Theme</h3>
            <div class="dialog">
                <div class="message-box">
                    @foreach (var item in Model.Item2)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    @item.User.Login
                                </div>
                                <div class="card-text">
                                    @item.Message
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="send-panel">
                <textarea id="newMessage" class="input-area" placeholder="Написать сообщение..."></textarea>
                <button onclick="SendMessage(@Model.Item1.Id,document.getElementById('newMessage').value);"><span class="fa fa-paper-plane"></span></button>
            </div>
        </div>
    }
    else
    {
        <p>
            Nothing here
        </p>
    }

</div>

