@using EventFinder.Models.Entity
@model List<Forum>

@{
    ViewData["Title"] = "Беседы";
}



<div class="wrapper wrap-forum">
    <section class="view-list">
        <div class="wrap-item-null">
            <div class="item-null">

            </div>
            <div class="filter-item-null">

            </div>
            <div class="txt-item-null">
                <p>
                    Без многого может обходиться человек,<br> но только не без человека...
                </p>
                <p>Не стесняйся - <br><a asp-controller="Forum" asp-action="CreateForum"><b>начни беседу первым!</b></a></p>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="view-page">
                <div class="view-body">
                    <p class="view-name">@item.Theme</p>
                    @if (item.EventId != null)
                    {
                        <p><span>Мероприятие:</span><a asp-controller="Event" asp-action="EventDetails" asp-route-id="@item.Event.Id"><span class="fas fa-search"></span></a></p>
                    }
                    <p><span>Категория: </span>@item.Category.Name</p>
                    <p><span>Автор: </span>@item.Owner.Login</p>
                </div>
                <a class="view-btn view-more" asp-controller="Forum" asp-action="ForumView" asp-route-id="@item.Id">
                    <span class="fas fa-search"></span>
                </a>
            </div>
        }
    </section>


</div>