@using EventFinder.Models.Entity
@model List<Forum>

@{
    ViewData["Title"] = "Беседы";
}

<script>
    function OpenForum(id) {
        location.href = `/forum/forumview?id=${id}`;
    }
</script>

<div class="wrap-forum-forums  wrapper">
    <table class="table-forum">
        @if (Model != null && Model.Count != 0)
        {
            <thead>
                <tr>
                    <td>
                        Номер
                    </td>
                    <td>
                        Тема
                    </td>
                    <td>
                        Автор
                    </td>
                    <td>
                        Создана
                    </td>
                    <td>
                        Событие
                    </td>
                    <td>
                        Категория
                    </td>
                    <td>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Theme
                    </td>
                    <td>
                        @item.Owner.Login
                    </td>
                    <td>
                        @item.CreationTime
                    </td>
                    @if (item.EventId == null)
                    {
                        <td>
                            Нет события
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.Event.Name
                        </td>
                    }
                    @if (item.CategoryId == null)
                    {
                        <td>
                            Нет Категории
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.Category.Name
                        </td>
                    }
                    <td>
                        <button class="list-group-item" onclick="OpenForum(@item.Id)">Перейти</button>
                    </td>
                </tr>

                }
            </tbody>

        }
        else
        {

        }
    </table>

    <div><span><a asp-controller="Forum" asp-action="CreateForum">Создайте</a> новую беседу прямо сейчас!</span></div>
</div>