@using EventFinder.Models.Entity
@model List<Forum>

@{
    ViewData["Title"] = "Беседы";
}



<div class="wrapper">
    <section class="view-list">
        @foreach (var item in Model)
        {
            <div class="view-page">
                <div class="view-body">
                    <p class="view-name">@item.Theme</p>
                    @if (item.EventId != null)
                    {
                        <p><span>Мероприятие:</span><a asp-controller="Event" asp-action="EventDetails" asp-route-id = "@item.Event.Id"><span class="fas fa-search"></span></a></p>
                    }
                    <p><span>Категория: </span>@item.Category.Name</p>
                    <p><span>Автор: </span>@item.Owner.Login</p>
                </div>
                <a class="view-more" asp-controller="Forum" asp-action="ForumView" asp-route-id="@item.Id">
                    <span class="fas fa-search"></span>
                </a>
            </div>
        }
        <div class="view-create"><span><a asp-controller="Forum" asp-action="CreateForum">Создайте</a> новую беседу прямо сейчас!</span></div>
    </section>


</div>